.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  background: #fff;
  margin: auto;
  padding: 1rem;
}
.contact a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 0;
  transition: transform 1s ease-in;
}
.contact a:active {
  transform: scale(0.5);
}
.contact hr {
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}
.section {
  width: 100%;
}
.section h1 {
  font-size: 1.7rem;
  text-align: center;
}
@media (max-width: 850px) {
  .contact {
    width: 90%;
  }
}
